#Environment variables
.env
.env*.local

#Dependencies
**/node_modules

#Build files
/backend/dist

#Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

#Miscellaneous
.DS_Store
*.pem
*.tsbuildinfo

#Next.js & Vercel
/frontend/.next
/frontend/out
/frontend/.vercel
/frontend/next-env.d.ts

#Production build
/frontend/build

#Testing
/frontend/coverage

#Dependencies
/frontend/.pnp
/frontend/.pnp.*

#Yarn PnP
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

#Playwright Test Reports & Cache
/frontend/test-results/
/frontend/playwright-report/
/frontend/blob-report/
/frontend/playwright/.cache/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/