@import "tailwindcss";

@theme {}

@layer base {
  :root {
    --scrollbar-track: theme(colors.zinc.100);
    --scrollbar-thumb: theme(colors.zinc.300);
    --scrollbar-thumb-hover: theme(colors.zinc.400);
  }

  :root:dark {
    --scrollbar-track: theme(colors.zinc.800);
    --scrollbar-thumb: theme(colors.zinc.600);
    --scrollbar-thumb-hover: theme(colors.zinc.500);
  }

  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    @apply rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
}