@import "tailwindcss";

@theme {}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c5c5c5 #ffffff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}